body>footer{
	>div:first-child{
		@extend %surikat-powered;
	}
	>div + div {
		@?include grid( *, 100 );
		@?include grid( *, 50, 480px);
		@include clearfix();
		background: #111;
		clear: both;
		width: 100%;
		border-top: 2px solid $color-dark;
		>a {
			height:100%;
			text-align:center;
			padding-top:0.5em;
			padding-bottom:0.5em;
			font-size: 1.2em;
			color: #FFF;
			&.active,
			&:hover {
			  color: $color-main;
			  text-decoration:none;
			}
			&[href="About"]{
				@?include icon(question-circle);
			}
			&[href="Contact"]{
				@?include icon(envelope);
			}
		}
	}
}
