body>header{
	@?include grid( 100, 4-92-4, 100);
	@?include grid( 20,  5-40-5,  30, 768px);
	@?include grid( 15,  5-50-5,  25, 960px);
	position: relative;
	@include clearfix();
	@include gradient-vertical(#3c3c3c,#222222);
	display:block;
	padding-top:0.2em;
	padding-left:0.8em;
	padding-bottom:0.4em;
	>[is=dropdown]>li{
		position: relative;
		>a:focus{
			outline: 0;
		}
		&.open>ul{
			display:block;
		}
	}
	>*:not(a){
		@include clearfix();
	}
	>form[role=search]{
		margin-top:0.5em;
		height:2.2em;
		border-radius: 5px;
		background: #fff;
		padding-left:0.5em;
		@media(min-width:768px){
			padding:0.1em 0.1em 0.1em 1em;
		}
		
		@?include grid( 72, 18, 10);
		@?include grid( 74, 16, 10, 768px);
		@?include grid( 82, 8, 10, 1024px);
		
		select{
			height:100%;
			background: #fff;
			border:0;
			margin:0;
			
			&,
			option{
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: normal;
				-webkit-font-smoothing: antialiased;
				speak:none;
				text-align:center
			}
			option{
				height:100%;
				width:100%;
				display:block;
				/*
				&[value="Événements"]{
					@?include icon(calendar);
				}
				&[value="Ressources"]{
					@?include icon(cog);
				}
				&[value="Projets"]{
					@?include icon(star);
				}
				&[value="Associations"]{
					@?include icon(group);
				}
				&[value="Annonces"]{
					@?include icon(exchange);
				}
				&[value="Médiathèques"]{
					@?include icon(book);
				}
				*/
			}
		}
		input[type=submit]{
			height:100%;
			border-radius: 4px;
			margin:0;
			margin-top: 0.2em;
			cursor:pointer;
			line-height:0;
			font-size:0;
			text-indent:-999px;
			color: transparent;
			background: url(#{$img}search32.png) no-repeat center transparent;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
			@media(min-width:768px){
				padding:0.1em 0.1em 0.1em 1em;
			}
		}
		input[type=search]{
			height:100%;
			border:0;
			margin:0;
			border-radius: 5px;
			font-size:1.2em;
		}
	}
	>ul[is=dropdown]{
		text-align:right;
		padding-right:2em;
		margin-top:1em;
		float:right;
		>li{
			float:right;
			&:nth-child(1)>a{
				@?include icon(user);
			}
			>ul{
				&.disabled{
					display:none;
				}
			}
			>a{
				@media (min-width: 768px){
					color: $color-main;
				}
			}
		}
	}
	a[is=persona]{
		display:none;
	}
}