body>header{
	@?include grid( 100, 3-92-3, 100);
	@?include grid( 2-20-2,  0-64-2,  100, 768px);
	@?include grid( 2-20-2,  0-40-2,  30, 960px);
	position: relative;
	@include clearfix();
	@include gradient-vertical(#3c3c3c,#222222);
	display:block;
	padding-top:0.2em;
	padding-left:0.8em;
	padding-bottom:0.4em;
	>a:first-child>img{
		padding-top:2px;
	}
	>[is=dropdown]>li{
		position: relative;
		>a:focus{
			outline: 0;
		}
		&.open>ul{
			display:block;
		}
	}
	>*:not(a){
		@include clearfix();
	}
	>form[role=search]{
		margin-top:0.5em;
		height:2.4em;
		border-radius: 5px;
		background: #fff;
		padding-left:0.5em;
		@media(min-width:768px){
			padding:0.1em 0.1em 0.1em 1em;
		}
		
		@?include grid( 86, 2-10-2);
		@?include grid( 90, 10, 480px);
		
		select{
			height:100%;
			background: #fff;
			margin:0;		
			&,
			option{
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: normal;
				-webkit-font-smoothing: antialiased;
				speak:none;
				text-align:center
			}
			option{
				height:100%;
				width:100%;
				display:block;
			}
		}
		input[type=submit]{
			height:100%;
			border-radius: 4px;
			margin:0;
			margin-top: 0.2em;
			cursor:pointer;
			line-height:0;
			font-size:0;
			text-indent:-999px;
			color: transparent;
			background: url(#{$img}search32.png) no-repeat center transparent;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
			@media(min-width:768px){
				padding:0.1em 0.1em 0.1em 1em;
			}
		}
		>div{
			height:100%;
			border-radius: 5px;
			margin:0;
			input[type=search]{
				height:100%;
				width:100%;
				margin:0;
				border-radius: 5px;
				font-size:1.2em;
			}
		}
		input,
		select{
			&,
			&:focus,
			&:hover,
			&:active{
				border:0;
				box-shadow: none;
			}
		}
	}
	>ul[is=dropdown]{
		margin-top:0.3em;
		padding-right:0.3em;
		@media(min-width:960px){
			padding-right:2em;
			margin-top:0.5em;
		}
		>li{
			float:right;
			word-break: break-all;
			>ul{
				&.disabled{
					display:none;
				}
			}
			>a{
				@media (min-width: 768px){
					color: $color-main;
				}
			}
		}
	}
	a[href="Account"],
	a.logger,
	span.user-std{
		@?include icon(user);
	}
	a.logout{
		@?include icon(power-off);
	}
	a[is="login-box"]{
		min-width:160px;
		text-align:left;
	}
}