body>header{
	@?include grid( 100, 4-92-4, 100);
	@?include grid( 20,  5-40-5,  30, 768px);
	@?include grid( 15,  5-50-5,  25, 960px);
	position: relative;
	@include clearfix();
	@include gradient-vertical(#3c3c3c,#222222);
	display:block;
	padding-top:0.2em;
	padding-left:0.8em;
	padding-bottom:0.4em;
	>[is=dropdown]>li{
		position: relative;
		>a:focus{
			outline: 0;
		}
		&.open>ul{
			display:block;
		}
	}
	>*:not(a){
		@include clearfix();
	}
	>form[role=search]{
		padding-top: 0.5em;
		height:2.4em;
		input[type=search]{
			height:100%;
			width:100%;
			border:0;
			margin:0;
			@media(min-width:768px){
				padding:0.1em 0.1em 0.1em 1em;
			}
			border-radius: 8px;
			border: solid #000 1px;
			font-size:1.2em;
		}
	}
	>ul[is=dropdown]{
		text-align:right;
		padding-right:2em;
		margin-top:1em;
		float:right;
		>li{
			float:right;
			&:nth-child(1)>a{
				@?include icon(user);
			}
			>ul{
				&.disabled{
					display:none;
				}
			}
			>a{
				@media (min-width: 768px){
					color: $color-main;
				}
			}
		}
	}
	
}
