body>main{
    @include clearfix();
	>article,>aside,>form,>div{
		margin-bottom:1em;
		background: none repeat scroll 0 0 #FFFFFF;
		margin-left:1%;
		margin-right:1%;
		min-height: 15em;
		@include box-sizing();
		background-color: #fff;
		border: 1px solid #ccc; // IE8 fallback
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		@include box-shadow(0 6px 12px rgba(0,0,0,.175));
		overflow:hidden;
	}
	h1{
		border-bottom:solid 1px #000;
		margin-bottom:0;
		font-size:1.4em;
		font-weight:bold;
		padding-left: 1.5em;
		padding-right:1.5em;
		padding-top:5px;
		padding-bottom:5px;
		color: #F86D2E;
		@include gradient-vertical(#3c3c3c,#222222);
	}
	&.home{
		h1{
			@?include icon(home);
		}
	}

	@media screen and (min-width: 896px) and (min-height:600px) {
		padding-bottom: 4em;
	}
	>article{
		@media screen and (min-width: 896px) and (min-height:600px) {
			float: left;
			margin-left: 27.5%;
			width: 45%;
			p{
				padding: 0 1em;
			}
		}
	}
	>aside{
		border: 1px solid #D5D5D5;
		border-radius: 5px;
		@media screen and (min-width: 896px) and (min-height:600px) {
			float: left;
			margin-left: -72.5%;
			width: 26%;
			&+aside {
				float: right;
			}
		}
	}
	&.not-found{
		a{
			&[href=""]{
				@?include icon(chevron-left);
			}
			&[href="Contact"]{
				@?include icon(envelope);
			}
		}
		.error-details{
			
		}
		.error-actions{

		}
	}
}
