.c{@?include icon(database);}
.r{@?include icon(newspaper-o);}
.u{@?include icon(pencil-square-o);}
.d{@?include icon(trash);}
.i{@?include icon(info);}
.v{@?include icon(check-square-o);}
.o{@?include icon(sun-o);}
.e{@?include icon(comment-o);}
.s{@?include icon(save);}

/*
@keyframes plus-in{
	0%{background-position:-100% 0}
	100%{background-position:right 0}
}
@keyframes plus-out{
	0%{background-position:right 0}
	100%{background-position:-100% 0}
}*/
/* FUNky
@-moz-keyframes plus-in{
	0%{background-position:-100% 0}
	50%{background-position:-50% 0}
	100%{background-position:right 0}
}
@-moz-keyframes plus-out{
	0%{background-position:right 0}
	50%{background-position:-50% 0}
	100%{background-position:-100% 0}
}
* */
@-moz-keyframes plus-in{
	0%{background-position:-1000% 0}
	100%{background-position:right 0}
}
@-moz-keyframes plus-out{
	0%{background-position:right 0}
	100%{background-position:-1000% 0}
}
@-webkit-keyframes plus-in{
	0%{background-position:-100% 0}
	100%{background-position:right 0}
}
@-webkit-keyframes plus-out{
	0%{background-position:right 0}
	100%{background-position:-1500px 0}
}
@-ms-keyframes plus-in{
	0%{background-position:-100% 0}
	100%{background-position:right 0}
}
@-ms-keyframes plus-out{
	0%{background-position:right 0}
	100%{background-position:-1500px 0}
}
@-o-keyframes plus-in{
	0%{background-position:-100% 0}
	100%{background-position:right 0}
}
@-o-keyframes plus-out{
	0%{background-position:right 0}
	100%{background-position:-1500px 0}
}
body>main{
	@?include grid(*,2-96-2);
    @include clearfix();
    height:100%;
	padding-bottom: 4em;
	>article,
	>aside,
	>form{
		margin-bottom:1em;
		background: none repeat scroll 0 0 #FFFFFF;
		min-height: 15em;
		@include box-sizing();
		background-color: #fff;
		border: 1px solid #ccc; // IE8 fallback
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		@include box-shadow(0 6px 12px rgba(0,0,0,.175));
		padding:0.3em;
	}
	>article,
	>form{
		overflow:hidden;
	}
	h1,aside>h3{
/*		margin:-0.3em;
		margin-bottom:0.5em;
		border-bottom:solid 1px #ccc;
		font-size:1.4em;
		font-weight:bold;
		padding-left: 1.5em;
		padding-right:1.5em;
		padding-top:5px;
		padding-bottom:5px;
		color: #ccc;
		background-color:#222222;
		@include gradient-vertical(#3c3c3c,#222222);
		width: 100%;
*/	/*d+*/
		color: #ccc;
		height: 30px;
		margin:-0.3em -0.3em 0.6em -0.4em;
		display: block;
		line-height: 27px;
		font-size: 1.4em;
		font-weight:bold;
		text-indent: 0.5em;
//		text-transform: uppercase;
		background-color:#666;
		background-image: url("../img/sprites.png");
		background-repeat: no-repeat;
		background-position: right 0px;
		animation:plus-in 1.648s;
		-webkit-animation:plus-in 1.648s;
		-moz-animation:plus-in 1.648s;
		-ms-animation:plus-in 1.648s;
		-o-animation:plus-in 1.648s;
		&:hover {
			background-position:-1000% 0;
			animation:plus-out 1.648s;
			-webkit-animation:plus-out 1.648s;
			-moz-animation:plus-out 1.648s;
			-ms-animation:plus-out 1.648s;
			-o-animation:plus-out 1s;
			color:#222;
		}
	}
	&.home{
/*
		@?include grid( 1-96-1, 1-98-1,	768px);
		@?include grid( 1-73-1, 1-23-1,	1024px);
		@?include grid( 1-73-1, 1-23-1,	1260px);
*/
		h1{
			@?include icon(home);
		}
	}
	&.catalog{
		>article>*{
			float:left;
			width:100%;
		}
		>nav:last-child>a:first-child{
			@?include icon(plus);
		}
	}
	&.login{
		h1{
			@?include icon(user);
		}
	}
	ul.tags{
		@?include icon(tags);
		&:before{
			float:left;
		}
		&:after{//entest
			clear:both;
		}
		&>li{
			float:left;
			//display:inline-block;
			margin:0;
			>h5>a{
				@include transition(all 0.3s);
				padding: 2px;
				//border: 1px solid #d6d6d6;
				//border-radius: 4px;
				//background: #f0f0f0;
				color: #666666;
				font-weight: normal;
				font-size: 13px;
				text-decoration: none;
				&:hover{
					//border: 1px solid #444444;
					//background: #666666;
					//color: #ffffff;
					color: #000;
					z-index: 2;
					position: relative;
				}
			}
		}
	}
	&.not-found{
		a{
			&[href=""]{
				@?include icon(chevron-left);
			}
			&[href="Contact"]{
				@?include icon(envelope);
			}
		}
		.error-details{
			
		}
		.error-actions{

		}
	}
}
