.c{@?include icon(database);}
.r{@?include icon(newspaper-o);}
.u{@?include icon(pencil-square-o);}
.d{@?include icon(trash);}
.i{@?include icon(info);}
.v{@?include icon(check-square-o);}
.o{@?include icon(sun-o);}
.e{@?include icon(comment-o);}
.s{@?include icon(save);}
body>main{
    @include clearfix();
    height:100%;
    //min-height:74%;
	padding-bottom: 4em;
	>*{
		margin-bottom:1em;
		background: none repeat scroll 0 0 #FFFFFF;
		min-height: 15em;
		@include box-sizing();
		background-color: #fff;
		border: 1px solid #ccc; // IE8 fallback
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		@include box-shadow(0 6px 12px rgba(0,0,0,.175));
		overflow:hidden;
		padding:0.3em;
	}
	h1,aside>h3{
		margin:-0.3em;
		margin-bottom:0.5em;
		border-bottom:solid 1px #ccc;
		font-size:1.4em;
		font-weight:bold;
		padding-left: 1.5em;
		padding-right:1.5em;
		padding-top:5px;
		padding-bottom:5px;
		color: #F86D2E;
		background-color:#222222;
		@include gradient-vertical(#3c3c3c,#222222);
	}
	@?include grid(*,2-96-2);
	&.home{
		@?include grid( 1-96-1, 1-98-1,	768px);
		@?include grid( 1-73-1, 1-23-1,	1024px);
		@?include grid( 1-73-1, 1-23-1,	1260px);
		h1{
			@?include icon(home);
		}
	}
	&.present-liste>article>*{
		float:left;
		width:100%;
	}
	ul.tags{
		//@?include icon(tags);
		@?include icon(cloud);
		&:before{
			float:left;
		}
		&>li{
			float:left;
			//display:inline-block;
			margin:0;
			>h5>a{//frontenda.com/snipped/viewSnip.php?snip=simple-ecommerce-template
				//@?include icon(tag);
				//@?include icon(cloud);
				@include transition(all 0.3s);
				padding: 2px;//2px 12px;
				//border: 1px solid #d6d6d6;
				//border-radius: 4px;
				//background: #f0f0f0;
				color: #666666;
				font-weight: normal;
				font-size: 13px;
				text-decoration: none;
				&:hover{
					//border: 1px solid #444444;
					//background: #666666;
					//color: #ffffff;
					color: #000;
					z-index: 2;
					position: relative;
				}
			}
		}
	}
	&.not-found{
		a{
			&[href=""]{
				@?include icon(chevron-left);
			}
			&[href="Contact"]{
				@?include icon(envelope);
			}
		}
		.error-details{
			
		}
		.error-actions{

		}
	}
}
