body>nav {
	display:block;
	position: relative;
	margin-bottom: 1em;
	border-top: 2px solid $color-dark; //#595959
	height: auto;
	@include clearfix();
	@include gradient-vertical(#414141,#323232);
	border-bottom: 1px solid #000;
	[is=dropdown]{
		>li{
			position: relative;
			@include box-sizing();
			>a{
				overflow:hidden;
				&:focus{
					outline: 0;
				}
			}
			&.open>ul{
				display:block;
			}
			>ul{
				top: 100%;
				left: 0;
				z-index: 1000;
				display: none;  /* none by default, but block on "open" of the menu */
				float: left;
				min-width: 160px;
				padding: 5px 0;
				margin: 2px 0 0;    /* override default ul */
				list-style: none;
				text-align: left;    /* Ensures proper alignment if parent has it changed (e.g., modal footer) */
				background-clip: padding-box;
				> li > a {
					display: block;
					padding: 3px 20px;
					clear: both;
					font-weight: normal;
					line-height: 1.428571429; /* 20/14  ??? */
					white-space: nowrap;  /* prevent links from randomly breaking onto new lines */
					&:hover,&:focus {
						text-decoration: none;
						color: $color-main;
						background-color: #f5f5f5;
					}
				}
				> .active > a {  /* Active state */
					&,&:hover,&:focus {
						color: #fff;
						text-decoration: none;
						outline: 0;
						background-color: $color-main;
					}
				}
				border-radius: 4px;
				> li{
					> a {
						padding: 5px 9px;
						margin: 0 6px;
						border-radius: 4px;
						&:hover,
						&:focus {
							color: #FFF;
							background-color: $color-main;
							text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
						}
					}
				}
				> .active > a{
					color: #ffffff;
					background: $color-main;
					text-shadow: none;
					&:hover,
					&:focus {
						color: #ffffff;
						background: $color-main;
						text-shadow: none;
					}
				}
			}
		}
		@media (min-width: 768px){
			> li {
				border-left: 1px solid #4A4A4A;
				border-right: 1px solid #292929;
				width:#{(100%/7)}; //adjust to number of element in menu
				>a{
					&::before{
						display: block;
						padding-bottom: 0.2em;
						padding-top: 0.4em;
					}
				}
			}
		}
	}
	>*:not(a){
		@include clearfix();
	}
	>a>span{
		@include sr-only();
	}
	>a{
		@?include icon(reorder);
		padding: .5em 0;
		margin: 0 auto;
		text-align: center;
		color: $color-main;
		display: block;
		@media (min-width: 768px){
			display: none;
		}
		&:hover {
			text-decoration: none;
		}
	}
	a{
		&::before{
			clear:both;
		}
		&[href="Ajouter"]{
			@?include icon(plus);
		}
		&[href^="Événements"],&[href="Ajouter-Événement"]{
			@?include icon(calendar);
		}
		&[href^="Ressources"],&[href="Ajouter-Ressource"]{
			@?include icon(cog);
		}
		&[href="Projets"],&[href="Ajouter-Projet"]{
			@?include icon(star);
		}
		&[href="Associations"],&[href="Ajouter-Association"]{
			@?include icon(group);
		}
		&[href="Annonces"],&[href="Ajouter-Annonce"]{
			@?include icon(exchange);
		}
		&[href="Annonces|Offres"]{
			@?include icon(chevron-right);
		}
		&[href="Annonces|Demandes"]{
			@?include icon(chevron-left);
		}
		&[href="Médiathèques"],&[href="Ajouter-Médiathèque"]{
			@?include icon(book);
		}
	}
}
