<?global $screens;?>
<?foreach($screens as $screen):?>
	<?
		if($screen<768)
			continue;
		$fs = round($screen/60);
	?>
	@media(min-width: <?=$screen?>px){
		body>nav{
			[is=dropdown]{
				>li{
					>a{
						font-size: <?=$fs?>px;
						&::before{
							font-size: <?=$fs+10?>px;
						}
					}
				}
			}
			ul{
				>li>a{
					font-size: <?=$fs-1?>px;
				}
			}
		}
	}
<?endforeach;?>
