.help-block{
	color:red;
}
main form{
	>fieldset{
		@?include grid( *, 100 );
		@?include grid( 100, 1-94-1, 4, 390px );
		@?include grid( 4-23-2, 2-63-4, 2, 480px );
		margin-top:0.5em;
		margin-bottom:0.5em;
		padding-bottom:1em;
		padding-top:1em;
		padding-left:1em;
		padding-right:1em;
	}
	label>*{
		float:left;
	}
	.form-return{
		color: rgb(94, 107, 29);
		margin: 6px;
		font-size:36px;
		>i{	//border: 1px solid rgb(204, 123, 012);
			color: rgb(94, 107, 29);
			}
	}	
}
main.create h1{
	@?include icon(plus);
}
main.modify {
	>article>form h1{margin-top:0.5em;}
	h1{@?include icon(pencil);}
}
#project>h1>i{
	@?include icon(cloud);
}
#people>h1>i{
	@?include icon(group);
}
form{
	.required{
		@?include icon(asterisk,true);
		&:after{
			font-size: 0.8em;
			color: #f00;
		}
	}
	
	select,
	textarea,
	button,
	input,
	legend{
		height: 2em;
		font-size: 0.9em;
		line-height: 0.9em;
		font-weight: normal;
	}
}