.login-dialog{
	@?include grid(*, 1-98-1);
	@?include grid(1-48-1, 1-48-1, 680px);
	form{
		float:left;
		display:block;
		position:relative;
		&.login{
			@?include grid(*, 1-98-1);
			@?include grid(1-98-1, 1-98-1,  480px);
			fieldset.login{
				@?include grid(*, 1-98-1);
				@?include grid(1-48-1, 1-48-1, 1-48-1, 1-48-1,  480px);
			}
			fieldset.email{
				display:none;
				@?include grid(*, 1-98-1);
				@?include grid(1-48-1, 1-48-1,  480px);
			}
			fieldset.remember{
				@?include grid(*, 0-32-1);
				@?include grid(0-40-1, 1-6-1, 2-48-0,  480px);
				label[for="remember"]{
					float:left;
				}
				input[name="remember"]{
					float:left;
				}
				select{
					float:left;
					display:block;
				}
			}
			a.login.persona{
				display:none;
			}
		}
		&.signin{
			@?include grid(*, 1-98-1);
			@?include grid(1-98-1, 1-48-1, 1-48-1, 1-48-1, 1-48-1, 1-48-1, 1-48-1, 1-48-1, 1-48-1, 1-48-1, 1-48-1, 1-98-1, 480px);
		}
	}
	input{
		line-height:1.2em;
		height:1.2em;
		font-size:1.2em;
	}
	input[type=submit]{
		height:2em;
	}
}