.tagsinput {
	background: #FFF;
	width:300px;
	height:100px;
	overflow-y: auto;
	border-radius:3px;
	span.tag {
		border: 1px solid #ccc;
		border-radius:2px;
		display: block;
		float: left;
		text-decoration:none;
		background: #fff;
		color: #000;
		font-size: 1.2em;
		font-weight: normal;
		line-height: 1.2em;
		margin: 0 5px 5px 0;
		height:2em;
		display:block;
		position:relative;
		a,
		span{
			padding-top: 1.2em;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
		a {
			color: #ccc;
			text-decoration:none;
			&:hover{
				background: #f00;
			}
		}
	}
	input {
		width:80px;
		margin:0px;
		padding:5px;
		color: #000;
	}
	div{
		display:block;
		float: left;
	}
}
.tags_clear {
	clear: both;
	width: 100%;
	height: 0px;
}
.not_valid {
	background: #FBD8DB !important;
	color: #90111A !important;
}
